* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: height: 100%;
    font-family: monospace;
}

body {
    align-items: center;
    background-color: black;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

main {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.header {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.nav {
    display: flex;
    gap: 15px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 8px 16px 0 rgba(236, 7, 7, 0.781);
}

.logo {
    color: white;
    font-size: 20px;
}

.slogan {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.slogan h1 {
    font-size: 90px;
    font-style: italic;
    color: white;
}

.intro {
    display: flex;
    justify-content: center;
}

.image {
    width: 325px;
    height: 325px;
}

.paragraph {
    width: 500px;
    font-size: x-large;
    text-align: center;
    align-self: center;
    color: white;
}

.skills-heading {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

.skills-list {
    font-size: 20px;
    margin-bottom: 35px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

li {
    list-style: none;
    color: white;
}

h4,
p {
    color: white;
}

.projects {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
}

.card-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    width: 50%;
    height: 300px;
}

.card {
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(236, 7, 7, 0.781);
}

img {
    border-radius: 5px 5px 0 0;
}

.footer {
    margin-top: 35px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 59);
    color: white;
    text-align: center;
}